.glossymenu
{
    /*margin: 5px 0;*/
    border-style: none;
    border-color: inherit;
    border-width: medium;
    padding: 0;
width: 98%; /*width of menu*/ /*border: 1px solid #9A9A9A;*/
}

.glossymenu a.menuitem
{
    background: black url(../Images/glossyback.gif) repeat-x bottom left; /*font: bold 14px "Lucida Grande" , "Trebuchet MS" , Verdana, Helvetica, sans-serif;*/
    color: white;
    display: block;
    position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
    width: auto;
    padding: 4px 0;
    padding-left: 10px;
    text-decoration: none;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active
{
    color: white;
}

.glossymenu a.menuitem .statusicon
{
    /*CSS for icon image that gets dynamically added to headers*/
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
}

.glossymenu a.menuitem:hover
{
    background-image: url(../Images/glossyback2.gif);
}

.glossymenu div.submenu
{
    /*DIV that contains each sub menu*/
    background: white;
}

.glossymenu div.submenu ul
{
    /*UL of each sub menu*/
    list-style-type: none;
    margin: 0;
    padding: 5px 0px 5px 15px;
}

.glossymenu div.submenu ul li
{
    /*border-bottom: 1px solid blue;*/
}

.glossymenu div.submenu ul li a
{
    display: block;
    font: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #666666;
    text-decoration: none;
    padding: 2px 0;
    padding-left: 10px;
}

.glossymenu div.submenu ul li a:hover
{
    background: #DFDCCB;
    color: #666666;
}
